@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$font-sizes: (
    title-mobile: 24px,
    title-desktop: 28px,
    card-header: 56px,
    card-subtext: 12px,
    statistics-title: 14px,
    statistics-number: 32px
);